.fondo{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3),rgba(245, 245, 245, 0.98)), url(../img/contruccion.jpg) ;
    background-size: cover;
    height: 300px;
}
h1{
    color: rgb(40, 68, 116);
    font-size: 50px;
    font-weight: 800;
}
p{
    text-align: justify;
    color: rgb(0, 77, 175);

}
#columna1 {
    position:absolute;
    top:450px;
    left:150px;
    width:500px;
    margin-top:10px;
}
#columna2 {
    margin-left:640px;
    margin-right:20px;
    margin-top:80px;
}
*{
    margin: 0;
    padding: 0;
}
.logo{
    position: absolute;
    top: 20%;
    left: 28%;
}