body{
    background-image: url(../img/contruccion.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.formulario{
    background:rgba(0,0,0,.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
    color: white;
}
.ingresar{
    background: #FFE162;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
    transition: 0.5s ease-in;
}
.ingresar:hover{
    color: white;
}
/* .form-control{
    background: rgba(0,0,0,0.3);
    border-style: none;
} */
.olvide {
    text-decoration-style: none;
    text-decoration-line: none;
    color: #FFE162;
}
.olvide:hover{
    color: white;
    text-decoration-style : none ;
    text-decoration-line: none;
    cursor: pointer;
}
.olvide1 {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 700!important;
    /* border: 2px solid white; */
    padding: 10px;
    border-radius: 10px; 
    background: #FFE162;
}
.olvide1:hover{
    color: white;
    text-decoration-style : none ;
    text-decoration-line: none;
    cursor: pointer;
}