/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background: #DCEDF7;
    text-align: center;
} 
h3 {
    font-family: 'Playfair Display',
        serif;
    color: #214673;
    padding-bottom: 20px;
}

p {
    color: #214673;
}

p,
input,
textarea,
label {
    font-family: 'Poppins',
        sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #828282;
}

input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #828282;
}

input[type=submit] {
    background-color: #214673;
    padding: 15px 0;
    color: #F8C045;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

input[type=submit]:hover {
    background: black;
    color: #6FB2D2;
}

input,
textarea {
    color: black;
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 1px solid #828282;
}

a {
    color: #828282;
    font-style: italic;
}

a:hover {
    color: #fff;
}
.btn-wsp{
    position:fixed;
   width:60px;
    height:60px;
    line-height:55px;
    bottom:30px;
    right:30px;
    background:#0df053;
    color:white;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow:0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;

}

.btn-wsp:hover
{
    text-decoration:none;
    color: #0df053;
    background:#fff
}