.Te{
    color: #fafafa;
}
.edit{
    color: black;
}
.formulario{
      background:#ffffff;
    padding: 20px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(245, 241, 241, 0.568);
    color: white;
}
body{
    background-image: url(../img/.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;

}